## Import dos arquivos
Este script tem como objetivo criar o banco de dados `test_analytics_engineer` em um banco `SQLite` e importar os dados necessários para realização dos tratamentos e análises propostos no teste.

Os dados à serem carregados são:
- Country
- League
- Match
- Player
- Player_Attributes
- Team
- Team_Attributes

Sobre os dados:
- O banco de dados de futebol definitivo para análise de dados e aprendizado conta com +25.000 partidas,+10.000 jogadores, 11 países europeus com seu campeonato líder Temporadas 2008 a 2016;
- Atributos de jogadores e equipes provenientes da série de videogames FIFA da EA Sports, incluindo as atualizações semanais;
- Alinhamento da equipe com a formação do esquadrão (coordenadas X, Y).Probabilidades de apostas de até 10 provedores e ;
- Eventos detalhados da partida (tipos de gol, posse de bola, escanteio, cruzamento, faltas, cartões etc…) para +10.000 partidasO banco de dados de futebol definitivo para análise de dados e aprendizado conta com +25.000 partidas,+10.000 jogadores, 11 países europeus com seu campeonato líder Temporadas 2008 a 2016;

### Import das libs

In [2]:
#Importando das libs que serão utilizadas no processo
import sqlite3
import pandas as pd

### Criando conexão e iniciando cursor

In [3]:
#Criando do banco de dados test_analytics_engineer
conn = sqlite3.connect('test_analytics_engineer.db')

In [4]:
#Instanciando o cursor
c = conn.cursor()

### Criação das tabelas no SqLite

In [229]:
#Criando as tabelas no Sqlite

#country
c.execute('''
    CREATE TABLE IF NOT EXISTS country (
        id INT,
        name TEXT
    )
''')

#league
c.execute('''
    CREATE TABLE IF NOT EXISTS league (
        id INT,
        country_id TEXT,
        name TEXT
    )
''')

#match
c.execute('''
    CREATE TABLE IF NOT EXISTS match (
        id INT,
        country_id INT,
        league_id INT,
        season TEXT,
        stage INT,
        date TEXT,
        match_api_id INT,
        home_team_api_id INT,
        away_team_api_id INT,
        home_team_goal INT,
        away_team_goal INT,
        home_player_X1 INT,
        home_player_X2 INT,
        home_player_X3 INT,
        home_player_X4 INT,
        home_player_X5 INT,
        home_player_X6 INT,
        home_player_X7 INT,
        home_player_X8 INT,
        home_player_X9 INT,
        home_player_X10 INT,
        home_player_X11 INT,
        away_player_X1 INT,
        away_player_X2 INT,
        away_player_X3 INT,
        away_player_X4 INT,
        away_player_X5 INT,
        away_player_X6 INT,
        away_player_X7 INT,
        away_player_X8 INT,
        away_player_X9 INT,
        away_player_X10 INT,
        away_player_X11 INT,
        home_player_Y1 INT,
        home_player_Y2 INT,
        home_player_Y3 INT,
        home_player_Y4 INT,
        home_player_Y5 INT,
        home_player_Y6 INT,
        home_player_Y7 INT,
        home_player_Y8 INT,
        home_player_Y9 INT,
        home_player_Y10 INT,
        home_player_Y11 INT,
        away_player_Y1 INT,
        away_player_Y2 INT,
        away_player_Y3 INT,
        away_player_Y4 INT,
        away_player_Y5 INT,
        away_player_Y6 INT,
        away_player_Y7 INT,
        away_player_Y8 INT,
        away_player_Y9 INT,
        away_player_Y10 INT,
        away_player_Y11 INT,
        home_player_1 INT,
        home_player_2 INT,
        home_player_3 INT,
        home_player_4 INT,
        home_player_5 INT,
        home_player_6 INT,
        home_player_7 INT,
        home_player_8 INT,
        home_player_9 INT,
        home_player_10 INT,
        home_player_11 INT,
        away_player_1 INT,
        away_player_2 INT,
        away_player_3 INT,
        away_player_4 INT,
        away_player_5 INT,
        away_player_6 INT,
        away_player_7 INT,
        away_player_8 INT,
        away_player_9 INT,
        away_player_10 INT,
        away_player_11 INT,
        goal TEXT,
        shoton TEXT,
        shotoff TEXT,
        foulcommit TEXT,
        card TEXT,
        cross TEXT,
        corner TEXT,
        possession TEXT,
        B365H REAL,
        B365D REAL,
        B365A REAL,
        BWH REAL,
        BWD REAL,
        BWA REAL,
        IWH REAL,
        IWD REAL,
        IWA REAL,
        LBH REAL,
        LBD REAL,
        LBA REAL,
        PSH REAL,
        PSD REAL,
        PSA REAL,
        WHH REAL,
        WHD REAL,
        WHA REAL,
        SJH REAL,
        SJD REAL,
        SJA REAL,
        VCH REAL,
        VCD REAL,
        VCA REAL,
        GBH REAL,
        GBD REAL,
        GBA REAL,
        BSH REAL,
        BSD REAL,
        BSA REAL
    )
''')

#player
c.execute('''
    CREATE TABLE IF NOT EXISTS player (
        id INT,
        player_api_id ID,
        player_name TEXT,
        player_fifa_api_id ID,
        birthday TEXT,
        height REAL,
        weight INT
    )
''')

#player_attributes
c.execute('''
    CREATE TABLE IF NOT EXISTS player_attributes (
        id INT,
        player_attributes TEXT
    )
''')

#team
c.execute('''
    CREATE TABLE IF NOT EXISTS team (
        id INT,
        team_api_id INT,
        team_fifa_api_id INT,
        team_long_name TEXT,
        team_short_name TEXT
    )
''')

#team_attributes
c.execute('''
    CREATE TABLE IF NOT EXISTS team_attributes (
        id INT,
        team_attributes TEXT
    )
''')

#commita alteração no banco
conn.commit()

In [230]:
#checando se as tabelas foram criadas com sucesso
c.execute('''
    SELECT 
        name
    FROM
        sqlite_schema
    WHERE
        type='table'
    ORDER BY name''').fetchall()

[('country',),
 ('league',),
 ('match',),
 ('player',),
 ('player_attributes',),
 ('team',),
 ('team_attributes',)]

### Importando os dados nas tabelas criadas

A estratégia para import dos arquivos foi criar um loop para realizar todas as cargas sem a necessidade de codar individualmente. Para a carga dos arquivos de `player_attributes` e `team_attributes`, como a primeira coluna não tinha alias, a estratégia foi indicar o número da linha de cabeçalho e sobrepor os nomes com o do array passado como parâmetro. Por este motivo, resolvi fazer a carga fora do loop criado para os demais dados.

In [231]:
#importando dados que estão com cabeçalho ok
files_to_load = ['Country','League','Match','Player','Team']

for files in files_to_load:
    df = pd.read_csv('..\\..\\Data\\' + str(files) + '.csv')
    df.to_sql(str(files).lower(),conn,if_exists='append',index=False)
    
#importando dados que estão com problema no cabeçalho
#player_attributes
player_attributes = pd.read_csv("..\\..\\Data\\Player_Attributes.csv",header=0,names=['id','player_attributes'])
player_attributes.to_sql('player_attributes',conn,if_exists='append',index=False)

#team_attributes
team_attributes = pd.read_csv("..\\..\\Data\\Team_Attributes.csv",header=0,names=['id','team_attributes'])
team_attributes.to_sql('team_attributes',conn,if_exists='append',index=False)

#commita alteração no banco
conn.commit()

### Realizando um check para garantir que os dados foram carregados com sucesso
A ideia aqui é apenas garantir que os dados estão refletindo o que está nos arquivos. Este step **não irá focar na resolução de incosistências de dados** a menos que tenham à ver com problemas de importação. Demais validações e correções dos dados serão realizadas posteriormente.

Para realizar este check irei fazer o processo inverso de consultar os dados das tabelas e transportar para o pandas.

In [232]:
#criando um loop que irá consultar todas as tabelas e trazer informações básicas
tables_check = ['country','league','match','player','player_attributes','team','team_attributes']
for table in tables_check:
    query = 'SELECT * FROM ' + str(table)
    df = pd.read_sql(query,conn)
    print('Table name: ' + table + '\n' + 
          'Columns: ' + str(list(df.columns)) + '\n'
          'Number of rows: ' + str(df.shape[0]) + '\n'
          'Rows examples: ' + '\n' + str(df.sample(5)) + '\n'
         )

Table name: country
Columns: ['id', 'name']
Number of rows: 18
Rows examples:
         id      name
0       1.0   Belgium
7   17642.0  Portugal
1    1729.0   England
3    7809.0   Germany
16      0.0      None

Table name: league
Columns: ['id', 'country_id', 'name']
Number of rows: 13
Rows examples:
       id country_id                     name
11  21518      21518          Spain LIGA BBVA
4    7809       7809    Germany 1. Bundesliga
7   13274      13274   Netherlands Eredivisie
10  19694      19694  Scotland Premier League
8   15722      15722       Poland Ekstraklasa

Table name: match
Columns: ['id', 'country_id', 'league_id', 'season', 'stage', 'date', 'match_api_id', 'home_team_api_id', 'away_team_api_id', 'home_team_goal', 'away_team_goal', 'home_player_X1', 'home_player_X2', 'home_player_X3', 'home_player_X4', 'home_player_X5', 'home_player_X6', 'home_player_X7', 'home_player_X8', 'home_player_X9', 'home_player_X10', 'home_player_X11', 'away_player_X1', 'away_player_X2', 'away_player_X3', 'away_player_X4', 'away_player_X5', 'away_player_X6', 'away_player_X7', 'away_player_X8', 'away_player_X9', 'away_player_X10', 'away_player_X11', 'home_player_Y1', 'home_player_Y2', 'home_player_Y3', 'home_player_Y4', 'home_player_Y5', 'home_player_Y6', 'home_player_Y7', 'home_player_Y8', 'home_player_Y9', 'home_player_Y10', 'home_player_Y11', 'away_player_Y1', 'away_player_Y2', 'away_player_Y3', 'away_player_Y4', 'away_player_Y5', 'away_player_Y6', 'away_player_Y7', 'away_player_Y8', 'away_player_Y9', 'away_player_Y10', 'away_player_Y11', 'home_player_1', 'home_player_2', 'home_player_3', 'home_player_4', 'home_player_5', 'home_player_6', 'home_player_7', 'home_player_8', 'home_player_9', 'home_player_10', 'home_player_11', 'away_player_1', 'away_player_2', 'away_player_3', 'away_player_4', 'away_player_5', 'away_player_6', 'away_player_7', 'away_player_8', 'away_player_9', 'away_player_10', 'away_player_11', 'goal', 'shoton', 'shotoff', 'foulcommit', 'card', 'cross', 'corner', 'possession', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH', 'VCD', 'VCA', 'GBH', 'GBD', 'GBA', 'BSH', 'BSD', 'BSA']
Number of rows: 25979
Rows examples:
          id  country_id  league_id     season  stage                 date  \
2807    2808        1729       1729  2010/2011     38  2011-05-22 00:00:00
19260  19261       17642      17642  2014/2015     27  2015-04-04 00:00:00
2418    2419        1729       1729  2009/2010     38  2010-05-09 00:00:00
13384  13385       13274      13274  2008/2009     20  2009-01-31 00:00:00
16351  16352       15722      15722  2010/2011     26  2011-05-11 00:00:00

       match_api_id  home_team_api_id  away_team_api_id  home_team_goal  ...  \
2807         840234             10194              8528               0  ...
19260       1750717              9807              8348               2  ...
2418         659369              8602              8472               2  ...
13384        523824              8525              8277               0  ...
16351        838805              8322              1601               0  ...

       SJA   VCH   VCD   VCA   GBH   GBD   GBA   BSH   BSD   BSA
2807   2.4  2.75  3.60  2.50  2.75  3.30  2.40  2.62  3.50  2.38
19260  NaN  2.20  3.13  3.70   NaN   NaN   NaN   NaN   NaN   NaN
2418   3.0  2.30  3.25  3.20  2.35  3.25  2.90  2.38  3.25  3.00
13384  3.6  2.00  3.40  3.25  1.90  3.40  3.75  1.95  3.40  3.40
16351  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[5 rows x 115 columns]

Table name: player
Columns: ['id', 'player_api_id', 'player_name', 'player_fifa_api_id', 'birthday', 'height', 'weight']
Number of rows: 11060
Rows examples:
        id  player_api_id          player_name  player_fifa_api_id  \
5975  5982         664587    Lassana Coulibaly              230107
8491  8505          37597          Pedro Lopez              157479
4527  4531          71518              Jailson              184444
2069  2072         243440   Dammyano Grootfaam              200090
3399  3403         492132  Florent Hadergjonaj              220620

                 birthday  height  weight
5975  1996-04-10 00:00:00  175.26     148
8491  1983-11-01 00:00:00  175.26     159
4527  1981-06-16 00:00:00  175.26     148
2069  1991-05-13 00:00:00  182.88     152
3399  1994-07-31 00:00:00  182.88     159

Table name: player_attributes
Columns: ['id', 'player_attributes']
Number of rows: 183978
Rows examples:
            id                                  player_attributes
174632  174632  {"id": "174633", "player_fifa_api_id": "5430",...
109980  109980  {"id": "109981", "player_fifa_api_id": "200158...
166256  166256  {"id": "166257", "player_fifa_api_id": "134821...
52609    52609  {"id": "52610", "player_fifa_api_id": "183346"...
112551  112551  {"id": "112552", "player_fifa_api_id": "192638...

Table name: team
Columns: ['id', 'team_api_id', 'team_fifa_api_id', 'team_long_name', 'team_short_name']
Number of rows: 299
Rows examples:
        id  team_api_id  team_fifa_api_id team_long_name team_short_name
277  45330         7878          110832.0     Granada CF             GRA
79   10300         8588              64.0        RC Lens             LEN
151  24273         9876             206.0  Hellas Verona             VER
157  26548         8674            1915.0   FC Groningen             GRO
285  49116         6493            1714.0  AC Bellinzona             BEL

Table name: team_attributes
Columns: ['id', 'team_attributes']
Number of rows: 1460
Rows examples:
        id                                    team_attributes
456    456  {"id": "457", "team_fifa_api_id": "246", "team...
150    150  {"id": "151", "team_fifa_api_id": "675", "team...
1407  1407  {"id": "1408", "team_fifa_api_id": "1907", "te...
478    478  {"id": "479", "team_fifa_api_id": "144", "team...
962    962  {"id": "963", "team_fifa_api_id": "73", "team_...

Inconsistências mapeadas
- country
  - Possui dado sem `name`
- league
  - Aparentemente os valores dos campos `id` e `country_id` são idênticos
- match
  - Tem menos linhas em relação ao arquivo original, mas é porque em algumas linhas os dados de algumas colunas estavam quebrados em algumas linhas novas ou tabs. Como este é um problema de importação, irei tratar aqui no mesmo script

### Corrigindo problemas de importação

In [233]:
#realizando replace nos dados que carregaram quebrados
c.execute('''
    SELECT
        goal
    FROM
        match
    WHERE
        id = 3639
''').fetchall()

[('<goal>\n\t\t<value>\n\t\t\t<comment>n</comment>\n\t\t\t<stats>\n\t\t\t\t<goals>1</goals>\n\t\t\t\t<shoton>1</shoton>\n\t\t\t</stats>\n\t\t\t<event_incident_typefk>6</event_incident_typefk>\n\t\t\t<elapsed>19</elapsed>\n\t\t\t<subtype>volley</subtype>\n\t\t\t<player1>37436</player1>\n\t\t\t<sortorder>2</sortorder>\n\t\t\t<team>9825</team>\n\t\t\t<id>3110220</id>\n\t\t\t<n>236</n>\n\t\t\t<type>goal</type>\n\t\t\t<goal_type>n</goal_type>\n\t\t</value>\n\t\t<value>\n\t\t\t<comment>n</comment>\n\t\t\t<stats>\n\t\t\t\t<goals>1</goals>\n\t\t\t\t<shoton>1</shoton>\n\t\t\t</stats>\n\t\t\t<event_incident_typefk>393</event_incident_typefk>\n\t\t\t<elapsed>59</elapsed>\n\t\t\t<player2>36378</player2>\n\t\t\t<subtype>shot</subtype>\n\t\t\t<player1>75489</player1>\n\t\t\t<sortorder>2</sortorder>\n\t\t\t<team>9825</team>\n\t\t\t<id>3110495</id>\n\t\t\t<n>268</n>\n\t\t\t<type>goal</type>\n\t\t\t<goal_type>n</goal_type>\n\t\t</value>\n\t</goal>\n\t',)]

In [6]:
#realizando replace nos dados que carregaram quebrados
c.execute('''
    UPDATE match
    SET goal = REPLACE(REPLACE(goal,'\n',''),'\t','')
    WHERE
        goal LIKE '%\n%' OR
        goal LIKE '%\t%'
''')

In [7]:
#check do resultado
c.execute('''
    SELECT
        goal
    FROM
        match
    WHERE
        id = 3639
''').fetchall()

[('<goal><value><comment>n</comment><stats><goals>1</goals><shoton>1</shoton></stats><event_incident_typefk>6</event_incident_typefk><elapsed>19</elapsed><subtype>volley</subtype><player1>37436</player1><sortorder>2</sortorder><team>9825</team><id>3110220</id><n>236</n><type>goal</type><goal_type>n</goal_type></value><value><comment>n</comment><stats><goals>1</goals><shoton>1</shoton></stats><event_incident_typefk>393</event_incident_typefk><elapsed>59</elapsed><player2>36378</player2><subtype>shot</subtype><player1>75489</player1><sortorder>2</sortorder><team>9825</team><id>3110495</id><n>268</n><type>goal</type><goal_type>n</goal_type></value></goal>',)]

In [8]:
#commitando alteração
conn.commit()

In [9]:
#fechando conexão
conn.close()